<div class="banner d-flex justify-content-center align-items-center">
  <h1>All lists</h1>
</div>

<div class="content">
  <div class="d-flex justify-content-evenly mt-3">
    <h2>Create your list</h2>
    <%= simple_form_for @list, html: { class:"d-flex justify-content-between"} do |f| %>
      <%= f.label :name, class:"input-group-text button-home" %>
      <%= f.input :name, label: false %>
      <%= f.input :photo, as: :file, label: false %>
      <%= f.submit "Create", class: "btn btn-success button-home" %>
    <% end %>
  </div>
  <div class="my-5">
    <div class="row">
    <% @lists.each do |list| %>
    <div class="col-12 col-lg-6 col-xl-4 movie-card">
      <% if list.photo.attached? %>
        <div class="d-flex justify-content-center align-items-center shadow mb-3" style="background-image: linear-gradient(rgba(10, 10, 10, 0.4),rgba(10, 10, 10, 0.4)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>');background-position: center; background-size: cover; height:310px">
      <% else %>
        <div class="d-flex justify-content-center align-items-center shadow mb-3" style="background-image: linear-gradient(rgba(10, 10, 10, 0.4),rgba(10, 10, 10, 0.4)), url('https://static.vecteezy.com/system/resources/previews/011/508/381/original/movie-film-banner-design-template-cinema-background-concept-cinema-concept-with-popcorn-filmstrip-and-film-clapper-on-yellow-background-illustration-free-vector.jpg');background-position: center; background-size: cover; height:310px">
      <% end %>
        <%= link_to list.name, list_path(list), class: "text-decoration-none stretched-link text-white fs-3"%>
      </div>
    </div>
      <% end %>
  </div>
</div>
